<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Typeahead demo</title>
  <style>
    div{
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <z-typeahead></z-typeahead>
  <script src="../../../dist/bundle.js"></script>
  <script>
    const typeahead = document.querySelector('z-typeahead');
    const initialData = {
      currentValue: 'Valencia',
      values: ['Barcelona', 'Valencia', 'Madrid', 'Linz']
    };

    typeahead.setData(initialData);    

    typeahead
      .on('activeChange', newActive => {
        console.log(newActive);
      })
      .on('hover', e => {
        console.log('hover')
      });
  </script>
</body>
</html>